; This is example of ~/.aranymrc file

[GLOBAL]
; If you want debugger to start automatically, uncomment the next line
; DebugOnStart = Yes

; ROM file path:
; TOS = /usr/local/share/aranym/ROM
;

; IDE Devices configuration
[IDE0]
Present = Yes
Path = /home/user/.aranym/diskImageC
Cylinders = 940
Heads = 14
SectorsPerTrack = 40
ByteSwap = No

[IDE1]
Present = No
Path = /dev/hdd
Cylinders = 2100
Heads = 16
SectorsPerTrack = 63
ByteSwap = No
