; This is example of "$HOME/.aranym/config" file

[GLOBAL]
; amount of FastRAM in megabytes. You also need to start FASTRAM.PRG.
FastRAM = 0

; Atari floppy device (GEMDOS A:) is mapped to host floppy block device
Floppy = /dev/fd0

; path to TOS 4.04
TOS = /usr/local/share/aranym/ROM

; path to EmuTOS - make the "TOS=" empty otherwise EmuTOS= is ignored
EmuTOS = 

; grab mouse to ARAnyM window when the mouse enters the window rectangle
AutoGrabMouse = Yes

; Enable exception per second counter ?
EpsEnabled = No

; Maximum exceptions per second allowed
EpsMax = 20


[STARTUP]
; grab mouse at startup
GrabMouse = Yes

; start ARAnyM with debugger
Debugger = No


[VIDEO]
; start ARAnyM in fullscreen
FullScreen = No

; set the booting color depth (-1 = don't change NVRAM setting)
BootColorDepth = -1

; VIDEL generated screen copied to host screen at 50/VidelRefresh (50/2 = 25 Hz)
VidelRefresh = 2

; set the connected monitor (-1 = don't change NVRAM setting)
VidelMonitor = -1

; Automatically resize the atari screen to the host screen size
AutoZoom = No

; Use integer coefficients to resize the atari screen
AutoZoomInteger = No


[TOS]
; patch TOS _MCH cookie value (30000 is the TOS 4.04 value and means Falcon030)
Cookie_MCH = 30000

; redirect TOS bconout characters to the host console window
RedirConsole = No

; Undocumented
RedirPrinter = No


[ARANYMFS]
A = 
B = 
C = 
D = 
E = 
F = 
G = 


; IDE Devices configuration
; update the Cylinders/Heads/SectorsPerTrack according to your drive geometry!
[IDE0]
Present = Yes
ReadOnly = No
Path = /home/user/.aranym/diskImageC
Cylinders = 2100
Heads = 16
SectorsPerTrack = 63
ByteSwap = No

[IDE1]
Present = Yes
IsCDROM = Yes
Path = /dev/hdc


[JIT]
; enable JIT compiler
JIT = No

; enable JIT compiler for FPU (if JIT compiler is enabled)
JITFPU = No

; size of cache for compiled code
JITCacheSize = 8192

; enable lazy flush (invalidation) of JIT cache
JITLazyFlush = 1

; enable NOP alignment
TuneAlignment = Yes

; enable better version of NOP alignment (if NOP alignment is enabled)
TuneNOPfill = Yes


[OPENGL]
; Enable OpenGL rendering for the atari screen
;  (Aranym must be compiled with OpenGL support)
Enabled = No

; Width of the host OpenGL screen
Width = 640

; Height of the host OpenGL screen
Height = 480

; Bpp of the host OpenGL screen
Bpp = 16

; Use linear filtering on the atari screen
Filtered = No


[LILO]
; Full path to a (optionnally gzipped) kernel image
Kernel = linux.bin

; Command line to pass to the kernel
Args = root=/dev/ram video=atafb:vga16 load_ramdisk=1

; Full path to a (optionnally gzipped) ramdisk file
Ramdisk = root.bin


[MIDI]
; Enable MIDI output to file
Enabled = No

; Full path to the midi output file
Output = /tmp/aranym-midi.txt


[CDROMS]
; MetaDOS physical device letter = SDL CD-ROM drive number
A = 2
W = 1
Z = 0
