[Desktop Entry]
Encoding=UTF-8
Name=ARAnyM
Comment=Virtual Machine for running Atari 32-bit operating systems and applications
Exec=aranym
Icon=aranym
Terminal=false
Type=Application
Categories=System;Emulator;
