[Desktop Entry]
Encoding=UTF-8
Name=ARAnyM MMU
Comment=Virtual Machine with MMU for FreeMiNT and Linux-m68k
Exec=aranym-mmu
Icon=aranym-mmu
Terminal=false
Type=Application
Categories=System;Emulator;
