autom4te.cache
gen_*
obj_*
depend_*
/Makefile
/Makefile.in
aclocal.m4
aranym
aratapif
gencomp
gencpu
build68k
config.h
config.h.in
config.h.in~
config.h.in.orig
config.log
config.status
configure
depcomp
missing
compile
test-driver
stamp-*
version_date.h
src/uae_cpu/cpudefs.cpp
src/uae_cpu/cpuemu.cpp
src/uae_cpu/cpustbl.cpp
src/uae_cpu/cputbl.h
src/uae_cpu/cpufunctbl.cpp
src/uae_cpu/compemu.cpp
src/uae_cpu/compstbl.cpp
src/uae_cpu/comptbl.h
src/Makefile
src/Makefile.in
src/aranym.rsrc
src/uae_cpu/Makefile
src/uae_cpu/Makefile.in
doc/Makefile
doc/Makefile.in
.DS_Store
*.framework
*.xcworkspace
.deps
.dirstamp
xcuserdata
*.o
*.a
src/Unix/MacOSX/build
src/Unix/MacOSX/external
*.mode1v3
*.pbxuser
.directory
.idea
*.AppImage
*.AppDir
/out
appimage/appimagetool
*.exe
