[Desktop Entry]
Name=Aranym
GenericName=Atari Running on Any Machine
Type=Application
Exec=aranym
Icon=emulator
Catagory=System;Emulator;
X-SuSE-Translate=true
