<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>aranym</string>
	<key>CFBundleGetInfoString</key>
	<string>0.9.5beta, http://aranym.org/, released on 2007-07-14 </string>
	<key>CFBundleIconFile</key>
	<string>busybee</string>
	<key>CFBundleIdentifier</key>
	<string>org.aranym</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ARAnyM</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.5beta</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>GNU General Public License</string>
	<key>NSMainNibFile</key>
	<string>aranym</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
