<menu>
  <section name="info">
    <title>Information</title>
    <item name="home">
      <title>Home</title>
      <link>index.html</link>
    </item>
    <item name="news">
      <title>News</title>
      <link>news.html</link>
    </item>
    <item name="licence">
      <title>Licensing</title>
      <link>licensing.html</link>
    </item>
    <item name="snaps">
      <title>Snapshots</title>
      <link>snapshots.html</link>
    </item>
    <item name="faq">
      <title>FAQ</title>
      <link>faq.html</link>
    </item>
  </section>

  <!-- development -->
  <section name="dev">
    <title>Development</title>
    <item name="progres">
      <title>Progress</title>
      <link>progress.html</link>
    </item>
    <item name="faq">
      <title>Download</title>
      <link>download.html</link>
    </item>
    <item name="cvs">
      <title>CVS</title>
      <link>cvs.html</link>
    </item>
    <item name="mlist">
      <title>Mailing list</title>
      <link>mlist.html</link>
    </item>
  </section>

  <!-- related links -->
  <section name="links">
    <title>Links</title>
    <item name="emutos">
      <title>EmuTOS</title>
      <link>http://emutos.sf.net/</link>
    </item>
    <item name="mint">
      <title>FreeMiNT</title>
      <link>http://www.freemint.de/</link>
    </item>
    <item name="distro">
      <title>SpareMiNT</title>
      <link>http://sparemint.atari.org/</link>
    </item>
    <item name="sdl">
      <title>SDL</title>
      <link>http://www.libsdl.org</link>
    </item>
    <item name="stonx">
      <title>STonX</title>
      <link>http://stonx.sf.net/</link>
    </item>
    <item name="hatari">
      <title>hatari</title>
      <link>http://hatari.sf.net/</link>
    </item>
    <item name="UAE">
      <title>UAE</title>
      <link>http://www.freiburg.linux.de/~uae/</link>
    </item>
    <item name="basilisk">
      <title>Basilisk II</title>
      <link>http://www.uni-mainz.de/~bauec002/B2Main.html</link>
    </item>
    <item name="bochs">
      <title>Bochs</title>
      <link>http://bochs.sf.net/</link>
    </item>
  </section>
</menu>
