<menu>
  <section name="info">
    <title>Information</title>
    <item name="home">
      <title>Home</title>
      <link>index.html</link>
    </item>
    <item name="licence">
      <title>Licencing</title>
      <link>licencing.html</link>
    </item>
    <item name="faq">
      <title>FAQ</title>
      <link>faq.html</link>
    </item>
  </section>

  <!-- develelopment -->
  <section name="dev">
    <title>Development</title>
    <item name="faq">
      <title>Download</title>
      <link>download.html</link>
    </item>
    <item name="faq">
      <title>Progress</title>
      <link>progress.html</link>
    </item>
    <item name="faq">
      <title>CVS</title>
      <link>cvs.html</link>
    </item>
  </section>

  <!-- related links -->
  <section name="links">
    <title>Links</title>
    <item name="mint">
      <title>FreeMiNT</title>
      <link>http://www.freemint.de</link>
    </item>
    <item name="mint">
      <title>SpareMiNT</title>
      <link>http://sparemint.atari.org</link>
    </item>
  </section>
</menu>
