<menu>
  <section name="info">
    <title>Information</title>
    <item name="home">
      <title>Home</title>
      <link>index.html</link>
    </item>
    <item name="news">
      <title>News</title>
      <link>news.html</link>
    </item>
    <item name="mlist">
      <title>Mailing lists</title>
      <link>mlist.html</link>
    </item>
    <item name="licence">
      <title>Licensing</title>
      <link>licensing.html</link>
    </item>
    <item name="snaps">
      <title>Screenshots</title>
      <link>snapshots.html</link>
    </item>
    <item name="faq">
      <title>FAQ</title>
      <link>faq.html</link>
    </item>
    <item name="link">
      <title>WWW links</title>
      <link>links.html</link>
    </item>
  </section>

  <section name="dev">
    <title>Development</title>
    <cvsitem name="authors">
      <title>Authors</title>
      <link>http://www.sophics.cz/cgi-bin/cvsweb/aranym/AUTHORS?rev=1&amp;content-type=text/x-cvsweb-markup</link>
    </cvsitem>
    <cvsitem name="changelog">
      <title>ChangeLog</title>
      <link>http://www.sophics.cz/cgi-bin/cvsweb/aranym/ChangeLog?rev=1&amp;content-type=text/x-cvsweb-markup</link>
    </cvsitem>
    <cvsitem name="bugs">
      <title>Known Bugs</title>
      <link>http://www.sophics.cz/cgi-bin/cvsweb/aranym/BUGS?rev=1&amp;content-type=text/x-cvsweb-markup</link>
    </cvsitem>
    <item name="progres">
      <title>Progress</title>
      <link>progress.html</link>
    </item>
    <item name="download">
      <title>Download</title>
      <link>download.html</link>
    </item>
    <item name="cvs">
      <title>CVS</title>
      <link>cvs.html</link>
    </item>
  </section>
</menu>
